@import '../abstrat/variaveis';


#bemestar {    
        margin: 5rem;
        display: flex;
        .img-bemestar {
            width: 60%;            
            padding-left: 20px;
        }
        .texto {
           
            h3 {
                font-size: $tamanho-texto / 1.8;
                color: $cor-secundaria;
                font-weight: 700;
                text-align: center;
                margin-bottom: 2rem;
            }
            h4 {
                font-size: $tamanho-texto / 2;
                color: $cor-terciaria;
                font-weight: 400;
                text-align: center;
                margin-bottom: 2em;
            }
            p{
                font-size: $tamanho-texto/3;
                font-weight: 400;
                color: $cor-secundaria;
                line-height: 2rem;                
                text-align: justify;

            }
        }   
}