@import '../abstrat/variaveis';

#cupom {
    background-color: $cor-terciaria;
    padding: 2rem;
    text-align: center;
    .texto {
        color: $cor-primaria;
        h2 {
            margin: 2rem;
            font-size: $tamanho-texto/1.9;
        }
    }
    .input {
        @media (max-width: $tamanho-mobile) {
            width: 290px;
        }
        margin: 0 auto;
        width: 380px;
        border-radius: 10px;
        border: 4px solid white;
        background: white;
        input {
            border-radius: 25px;
            height: 28px;
            border: none; 
            @media (max-width: $tamanho-mobile) {
                width: 290px;
            }           
            width: 300px;           
            outline: none;
            text-align: center;
            font-size: 18px;
            color: $cor-primaria;
        }
        &:hover, &:focus-within {
            box-shadow: 1px 1px 8px 1px $cor-primaria;
            outline: none;
        }
    }
    button {
        text-transform: uppercase;
        text-align: center;
        margin-top: 1rem;
        outline: none;
        width: 130px;
        height: 40px;
        cursor: pointer;
        background-color: $cor-primaria;
        color: $cor-secundaria;
        letter-spacing: 1.4px;
        font-family: $fonte;
        font-size: 12px;
        font-weight: bold;        
        border: 2px $cor-primaria;
        border-radius: 40px;
        &:hover {
            color: $cor-primaria;
            background-color: $cor-secundaria;
            border-color: $cor-terciaria;
        }
    }
}