@import '../abstrat/variaveis';

//_nomeArquivo == Partials
//vantagens dos pré-processadores
//->Aninhamento de código
//->Capacidade de usar variáveis
//->Capacidade de criar mixins
//->Capacidade de usar operações matemáticas/lógicas
//->Capacidade de usar loops e condições
//->Junção de vários arquivos
//->Os principais pré-processadores são Sass, Less e Stylus, mas existem outros menores também. Todos eles fazem coisas similares, com algumas particularidades e uma sintaxe própria. Neste curso estamos usando o Sass, um dos mais populares e também o mais antigo, criado em 2006. Sass significa Syntactically Awesome Style Sheets, e foi escrito em Ruby. O segundo pré-processador mencionado é o LESS, que foi criado 3 anos depois do Sass, em 2009, inspirado pelo mesmo, e foi escrito em JavaScript. E o último pré-processador mencionado é o Stylus, que foi lançado logo após o Less, em 2010, influenciado pelos dois anteriores, foi escrito em Node.js e combina características do Sass e do Less

//nesting -> um bloco dentro do outro
nav {
    text-align: center;
    ul {
        li{
            display: inline-block;
            padding: 1rem;
            a {
                text-decoration: none;
                text-transform: uppercase;
                font-weight: bold;
                color: $cor-primaria;
                //parent selector 
                &:hover {
                    border-bottom: 2px solid $cor-secundaria;
                }
            }
            
        }
    }
}