@import '../abstrat/variaveis';

#servicos {
    margin: 80px;
    h3 {
        font-size: $tamanho-texto / 1.8;
        color: $cor-secundaria;
        font-weight: 700;
        text-align: center;
        margin: 1rem;
    }
    h4 {
        font-size: $tamanho-texto / 2;
        color: $cor-terciaria;
        font-weight: 300;
        text-align: center;
        margin-bottom: 80px;
    }
    .cards {
        @media (max-width: $tamanho-mobile) {
            display: block;
            justify-content: center;          
        }
        display: flex;
        justify-content: space-evenly;
        .card {
            width: 360px;
            text-align: center;
            h5 {
                font-size: $tamanho-texto/1.5;
                font-weight: 400;
                margin-top: 25px;
                margin-bottom: 20px;
                color: $cor-secundaria;
            }
            p {
                font-size: $tamanho-texto/3;
                font-weight: 400;
                color: $cor-secundaria;
                line-height: 1.25rem;
                padding: 0 1.5rem;
                text-align: justify;
            }
            .img-container {
                padding-bottom: 2px;
                border-bottom: 5px solid $cor-secundaria;
                img {
                    max-width: 100%;
                }
            }
        }
    }
}

