
.banner {
    background: url(../imagens/banner.jpeg) 27% center no-repeat;
    min-height: 500px;
    min-width: max-content;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
}

.inner-banner {
    padding: 1rem 4rem;
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    opacity: 0.7;
    border-radius: 20px;
    text-align: center;
}

.inner-banner h1 {    
    font-size: 3.5rem;
    font-weight: 500;        
    margin: 1rem;
}

.inner-banner h2 {    
    font-size: 1.2rem;
    margin: 1 rem 2rem;
}