
#bemestar {    
    display: flex;
    margin: 4rem;
    color: var(--cor-secundaria);
}
 
.img-bemestar {
    width: 50% auto;
    align-self: auto;   
    object-fit: contain; 
}

.bemstar-texto {
    text-align: center;    
    font-size: 1.5rem;
}

.bemstar-texto h3 { 
    font-weight: 700;    
    font-size: 2rem;
    margin: 1rem;
}

.bemstar-texto h4 { 
    font-weight: 500;
    padding: 2rem 4rem;
}

.bemstar-texto p {
    font-size: 1rem;
    font-weight: 500;    
    line-height: 2rem;
    text-align: justify;
    margin:1.5rem;
}

@media screen and (max-width: 720px) { 

    #bemestar {    
        display: block;
        justify-content: center;             
        margin: 4rem 2rem;
    }
    
    .img-bemestar {           
        text-align: center;  
    }

    img {
        height: 180px;        
        width: 324px;
        object-fit: cover;
    }
        
    .bemstar-texto h3 {
        margin: 2rem 0;
    }
        
    .bemstar-texto h4 {  
        padding: 1rem 2rem;
        text-align: center;
    }

    .bemstar-texto p {         
        margin: 1rem;
    }

}

@media (min-width: 361px) and (max-width: 1399px) { 
    
    #bemestar {    
        display: block;
        justify-content: center;
        margin: 2rem;
    }    

    .img-bemestar {
        background-size: cover;        
        text-align: center;
    }

    .bemstar-texto {
        margin-top: 2rem;
    }    

    .bemstar-texto p {         
        margin: 1rem 3rem;
    }

}