
.menu-nav {
    display: flex;
    justify-content: center;       
    font-size: 18px;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

.nav-ico-home {
    display: none;
}

.lista-menu {
    display: flex;
    justify-content: center;
    align-content: space-between;
    margin: 2rem;
    list-style-type: none;
    gap: 4rem;
}

.item {    
    text-decoration: double;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--cor-primaria);
    margin: 1rem;
}

.item:hover {
    border-bottom: 3px solid var(--cor-secundaria);
    
}

.nav-ico-menu {
    display: none;
}

@media screen and (max-width: 720px) { 
        
    .menu-nav {        
        justify-content: space-between;        

    }
    .item {
        display: none;
    }
        
    .nav-ico-home, .nav-ico-menu {
        display: flex;
        opacity: 0.5; 
        background-size: auto;
    }

    .nav-ico-home, .nav-ico-menu i {
        align-self: center;
    }
}

