@import url('./banner.css');
@import url('./header.css');
@import url('./servicos.css');
@import url('./cupom.css');
@import url('./bemstar.css');
@import url('./footer.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
   
    --fonte-principal: 'Roboto', sans-serif;
    --fonte-secundaria: 'Josefin Sans', sans-serif;     
    --cor-primaria:#6C3428 ;
    --cor-secundaria:#BA704F ;
    --cor-terciaria:#DFA878 ;
    --cor-botao-texto: #EFD8B8;
    --cor-degrade: linear-gradient(to left, var(--cor-primaria), var(--cor-secundaria), var(--cor-terciaria),var(--cor-primaria));  
    
    --tela-small: 360px; 
    --tela-large: 1400px;

}

body {
    margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
    font-family: var(--fonte-principal);
    font-size: 3rem;
    font-weight: 400;
}


